<!DOCTYPE html>
<html>
<head>
    <title>餐廳系統</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %}">

</head>
<body>
    <h1>歡迎光臨</h1>
    
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="table_info" class="nav-link"><p>本日可用餐桌</p></a></li>
            <li class="nav-item"><a href="{% url 'create-reservation' %}" class="nav-link"><p>線上訂位</p></a></li>
            <li class="nav-item"><a href="{% url 'cancel_reservation' %}" class="nav-link"><p>取消訂位</p></a></li>
            <li class="nav-item"><a href="{% url 'menu' %}"class="nav-link"><p>獲取菜單</p></a></li> 
            <li class="nav-item"><a href="{% url 'review_list' %}" class="nav-link"><p>餐廳評論</p></a></li>
            <li class="nav-item"><a href="{% url 'write_review' %}" class="nav-link"><p>撰寫評論</p></a></li>
        </ul>
    </nav>

    <img src="{% static 'images/2.png' %}" alt="餐廳照片">

</body>
</html>
