body {
    margin: 0;
    padding: 0;
    background-color: #292929; 
    color: white; 
    font-family: Arial, sans-serif; /* 添加字體 */
}

h1 {
    color: white; 
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex; 
    justify-content: start; 
    width: 100%; 
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    display: block; 
    text-decoration: none; 
    color: white; 
    font-size: 18px; /* 稍微減小字體大小 */
    padding: 10px 15px; /* 調整左右 padding */
    background-color: #333; 
}

.nav-link:hover {
    text-decoration: underline !important; 
}

img {
    max-width: 100%; 
    height: auto; 
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(100% - 40px); /* 最大寬度減去左右邊距 */
    border-collapse: collapse; /* 添加表格邊框合併 */
}

th, td {
    text-align: center; /* 水平置中 */
    vertical-align: middle; /* 垂直置中 */
    padding: 12px; /* 調整內間距 */
    border: 1px solid #ddd; /* 添加表格邊框 */
}

/* Home.css */
.comment {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px; /* 調整與下方元素的間距 */
}

.comment h3 {
    color: #ffffff;
    margin-bottom: 10px; /* 調整與下方元素的間距 */
}

.comment p {
    font-size: 16px; /* 稍微增大字體大小 */
    line-height: 1.6; /* 調整行高 */
}

.comment span {
    display: block;
    margin-top: 15px; /* 調整與上方元素的間距 */
    font-weight: bold;
}

/* Home.css */
.rating {
    margin: 15px 0; /* 調整與上下方元素的間距 */
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    margin-right: 8px; /* 稍微減小間距 */
    cursor: pointer;
}

.rating label:hover {
    text-decoration: underline;
}

textarea {
    width: 100%; /* 使用百分比寬度，以便適應不同螢幕寬度 */
    height: 150px;
    resize: none;  
    padding: 10px; /* 調整內間距 */
    box-sizing: border-box; /* 避免寬度超出 */
}

