<!DOCTYPE html>
<html>
<head>
    <title>餐廳系統-訂位</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %}">
</head>
<body>
    <h1>訂位表單</h1>
    <a href="{% url 'home' %}" class="nav-link"><h3>首頁</h3></a>

        <form id="reservationForm" action="{% url 'create-reservation' %}" method="post">
        {% csrf_token %}
        <label for="name">姓名：</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="phone">電話：</label>
        <input type="tel" id="phone" name="phone" required><br><br>

        <label for="date">日期：</label>
        <input type="date" id="date" name="date" required><br><br>

        <!-- 注意这里的 id 应该是 time，与 name 属性一致 -->
        <label for="time">時間：</label>
        <select id="time" name="time" required>
            <option value="">請選擇...</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
        </select><br><br>


        <label for="table">餐桌：</label>
        <select id="table" name="table" required>
            <option value="">請選擇...</option>
            <option value="2">2人桌</option>
            <option value="4">4人桌</option>
            <option value="6">6人桌</option>
            <option value="8">8人桌</option>
        </select><br><br>


        <input type="submit" value="提交訂位">
    </form>
    {% if form.errors %}
        <div class="form-errors">
            請修正以下錯誤：
            {{ form.errors }}
        </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('date').setAttribute('min', today);
        });
    </script>
</body>
</html>
